body{
    background-color:rgb(0, 148, 236);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/*filtri*/
.filtri{
    position: absolute;
    top:115px;
    left: 20px;
    border-radius: 15px;
    border: 2px ridge rgb(202, 202, 202);
    background: white;
    width: 180px;
    height: 540px;
}
/*stile componenti della classe filtri*/
#specifiche{
    font-size: 17px;
}
#specifica{
    color:rgba(0,148,236);
    text-align: center;
    font-weight: bold;
}
.filtri input[type="number"]{
    text-indent: 11px;
    border: none;
}
/*parte superiore*/
.top{
    position: fixed;
    right: 20px;
    left:20px;
    height: 100px;
    width: auto;
}
/*logo*/
#logo{
    position: fixed;
    width:500px;
    height: 100px;
    left:34%;
}

/*Area di interazione*/
.areapc{
    position:fixed;
    height: 495px;
    width: 60%;
    background: white;
    border: 2px ridge rgb(202, 202, 202);
    left: 20%;
    top: 160px;
    border-radius: 15px;
    overflow-y: auto;
}
/*bottoni d'intezione superiori*/
.areatop{
    position: fixed;
    top:105px;
    left:33.3%;
    right: 33.3%;
    width: auto;
    height: 10px;
    text-decoration: none;
    text-align: center;
}
.areatop li{
    display:block;
}
.areatop li:hover{
    cursor:pointer;
    background:-webkit-radial-gradient(center, ellipse cover,rgb(202, 202, 202) 0%,rgb(0, 148, 236) 100%);
    color: white;
    border-radius: 15px;
}
#latodx{
    position: absolute;
    right: 0;
    width: 33.3%;
    height: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-decoration: none;
    border: 2px ridge rgb(202, 202, 202);
    background: white;
    color:black;
}
#latosx{
    position: absolute;
    left: 0;
    width: 33%;
    height: 20px;;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-decoration: none;
    border: 2px ridge rgb(202, 202, 202);
    background: white;
    color:black;
}
#home{
    height: 20px;
    position: absolute;
    left: 33.3%;
    width: 32%;
    text-decoration: none;
    border: 2px ridge rgb(202, 202, 202);
    background: white;
    color:black;
}
/*bottoni inferiori*/
#buttonpc{
    position: relative;
    top:100px;
    left:100px;
    background: none;
    width: 300px;
    height: 400px;
    text-decoration: none;
    
}
#size{
    border-radius: 15px;
    margin-top:0;
    width: 250px;
    height: 150px;
    border: ridge 2px;
}
/* form ricerca pc*/
.sezionericerca{
    position: fixed;
    top: 30px;
    right: 20px;
    height: 40px;
    width: 250px;
    font-size: 24px;
    
}
#barraricerca{
    position: absolute;
    right: 0;
    border-radius: 8px;
    height: 35px;
    width: 220px;
    border: 2px ridge rgb(202, 202, 202);
    background-color: white;
    font-weight: bold;
}
/*utente*/
.areautente{
    position: fixed;
    top:15px;
    left:20px;
    width: 180px;
    height: 55px;
    border-radius: 15px;
    border: 2px ridge rgb(202, 202, 202);
    background-color:white;
}
.areautente a:visited, .areautente a:link, .areautente a:active{
    color: blue;
    text-decoration: none;
}
#image{
    position: absolute;
    top: 2.5px;
    left: 13px;
    width: 55px;
    height: 50px;
    border-radius: 15px;
}
#dati{
    position: absolute;
    top:5px;
    left: 85px;
}
/*sezione pc consigliati*/
.consigliati{
    position: fixed;
    top:115px;
    right: 20px;
    border-radius: 15px;
    background: white;
    width: 220px;
    height: 540px;
    border: 2px ridge rgb(202, 202, 202);
}
.consigliati #top{
    top:0;
    height: 15px;
    text-align: center;
    position: absolute;
    color:rgba(0,148,236);
    width: 220px;
    border-radius: 15px;
    
}
.consigliati #elenco{
    top:20px;
    position: absolute;
    text-align: center;
    width: 220px;
    height: 510px;
    border-radius: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}
.consigliati #bottom{
    position: absolute;
    bottom:0px;
    text-align: center;
    color:rgba(0,148,236);
    width: 220px;
    height: 20px;
    border-radius: 15px;
}
/*link scheda tecnica*/
.pc{
    
    border: 2px ridge silver;
    border-radius:2px;
    width: 200px;
    height: 150px;
}
#pcdesc{
    margin-bottom: 0px;
    font-size: 13px;
}
#pcimage{
    top: 2.5px;
    left: 13px;
    width: 90%;
    height: 75%;
    border-radius: 15px;
}
/*condizioni d'uso e info*/
.privacy{
    position: fixed;
    top: 670px;
    left:20px;
    right:20px;
    height: 50px;
    background-color: rgb(0, 119, 255, .7);
    border-radius: 15px;
    color: white;
    text-indent: 50px;
}
.privacy li{
    display:block;
    float:left;
}
.privacy li:hover{
    cursor:pointer;
}
.privacy a:link, .privacy a:active, .privacy a:visited{
    color: white;
    text-decoration: none;
}
/*area accesso-registrazione*/
.arealogin-signup{
    background: white;
    border: 2px ridge rgb(202, 202, 202);
    position: absolute;
    top:140px;
    left:28%;
    right: 28%;
}
/* #scrittamail-password{

}
#barramail-password{

} */
#bottone{
    border: 2px ridge rgb(202, 202, 202);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    font-weight: bold;
    background: rgba(0,148,236);
}
/*Prezzo*/