body{
    background-color:rgb(0, 148, 236);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/*filtri*/
.filtri{
    position: absolute;
    top:80px;
    left: 20px;
    border-radius: 15px;
    border: 2px ridge rgb(202, 202, 202);
    background: white;
    width: 180px;
    height: 580px;
}
/*stile componenti della classe filtri*/
#specifiche{
    font-size: 17px;
}
#specifica{
    color:rgba(0,148,236);
    text-align: center;
    font-weight: bold;
}
.filtri input[type="number"]{
    text-indent: 11px;
    border: none;
}
/*parte superiore*/
header{
    border-radius: 15px;
    position: fixed;
    right: 20px;
    left:20px;
    height: 50px;
    padding: 5px;
    width: auto;
    border: 2px ridge #085394;
    background-color:#085394;
}
/*logo*/
#logo{
    position: fixed;
    width:250px;
    height: 50px;
    left:3%;
}

/*Area di interazione*/
.areapc{
    position:fixed;
    height: 530px;
    right:2.4%;
    background: white;
    border: 2px ridge rgb(202, 202, 202);
    left: 16%;
    top: 130px;
    border-radius: 15px;
    overflow-y: auto;
}
/*bottoni inferiori*/
#buttonpc{
    position: relative;
    top:100px;
    left:100px;
    background: none;
    width: 300px;
    height: 400px;
    text-decoration: none;
    
}
#size{
    border-radius: 15px;
    margin-top:0;
    width: 250px;
    height: 150px;
    border: ridge 2px;
}
/* form ricerca pc*/
.sezionericerca{
    position: fixed;
    top: 17px;
    left:31%;
    height: 40px;
    width: 50%;
    font-size: 24px;
    
}
#barraricerca{
    position: absolute;
    left:0;
    border-radius: 20px;
    height: 35px;
    width: 80%;
    border: 2px ridge rgb(202, 202, 202);
    background-color: white;
    font-weight: bold;
}
#buttonsearch{
    position: absolute;
    right: 20%;
    border-radius: 20px;
    width: 38px;
    height: 35px;
    border: none;
    background: none;
}
#buttonsearch img{
    margin-top: 2px;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background: none;
}
#image{
    position: absolute;
    top: 2.5px;
    left: 13px;
    width: 55px;
    height: 50px;
    border-radius: 15px;
}
#dati{
    position: absolute;
    top:5px;
    left: 85px;
}
/*link scheda tecnica*/
.pc{
    border-radius: 5px;
    margin-left:18px;
    margin-top: 5px;
    display: inline-grid;
    width: 215px;
}
.pc1{
    display: none;
}
#pcdesc{
    margin-top: 2px;
    font-size: 13px;
}
#pcimage{
    margin-left: 10px;
    width: 180px;
    height: 120px;
}
#scheda{
    border-color: #085394;
    border-radius: 10px;
    background: none;
    font-weight: bold;
}
#compara{
    border-radius: 5px;
    position: absolute;
    left:70%;
    top:122px;
}
/*condizioni d'uso e info*/
footer{
    position: fixed;
    top: 92%;
    left:20px;
    right:20px;
    height: 50px;
    background-color:#085394;
    border-radius: 15px;
    color: white;
    border: 2px ridge #085394;
    text-indent: 50px;
}
footer li{
    display:block;
    float:left;
}
footer li:hover{
    cursor:pointer;
}
footer a:link, footer a:active, footer a:visited{
    color: white;
    text-decoration: none;
}
#bottone{
    border: 2px ridge rgb(202, 202, 202);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    font-weight: bold;
    background: rgba(0,148,236);
}
.comparazione{
    width: 30%;
    background: white;
    border: 2px ridge rgb(202, 202, 202);
    margin-top: 120px;
    margin-left: 2.2%;
    border-radius: 15px;
    display: inline-grid;
}
.comparazione img{
    width: 65%;
    height: 200px;
    margin-left: 80px;
}
#caratteristica{
background: none;
margin-left: 10px;;
}
#table{
    text-align: center;
    margin-left:6%;
}
#e-commerce{
    margin-left: 35%;
    width: 100%;
}
#number{
    display: none;
}
.stecnica{
    position: absolute;
    top: 120px;
    left: 20%;
    right: 20%;
    background: white;
    border-radius: 20px;
    height: 500px;
}
.stecnica img{
    width: 32%;
    height: 200px;
    margin-left: 80px;
}
#descrizione{
    position: absolute;
    top:10px;
    right: 30px;
    width: 350px;
    height: 400px;
    background: #9fc5f8;
    border-radius: 10px;
    overflow-y: scroll;
    font-weight: bold;
}
#titolo{
    position: absolute;
    top:3px;
    left:5px;
}
#comparabutton{
    position: absolute;
    right:35px;
    top:90px;
    background: none;
    border: none;
}
#comparabutton img{
    width: 45px;
    height: 45px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border:#085394 1px;
}
#reset{
    border-radius:15px;
    position: absolute;
    top:90px;
    left:245px;
    font-size: 18px;
    border:2px ridge #9fc5f8;
    background: #085394;
    color: white;

}