/* header img{

} */
#logo{
    position: fixed;
    width:44%;
    height: 140px;
    left:28%;
}
.ricerca{
    left:34%;
    top:34%;
    width: 32%;
    position: absolute;
}
#barraricerca{
    position: absolute;
    left:0;
    border-radius: 8px;
    height: 35px;
    width: 70%;
    border: 2px ridge rgb(202, 202, 202);
    background-color: white;
    font-weight: bold;
}
#buttonricerca{
    position: absolute;
    right: 0;
    border-radius: 8px;
    height: 35px;
    width: 20%;
    border: 2px ridge rgb(202, 202, 202);
    background-color: white;
    font-weight: bold;
}
#buttonsito{
    top:29%;
    position: absolute;
    left:34%;
    border-radius: 8px;
    height: 35px;
    width: 32%;
    border: 2px ridge rgb(202, 202, 202);
    background-color: white;
    font-weight: bold;
}